Codigos/apexhours/src/main/mule/apexhours.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8bc3e6b0-3292-4191-96e3-d494a124a8f5" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="eae08ef4-607f-4990-aca0-8ec44a384f1b" file="test.properties"/>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d22d7c0b-0f3d-4d58-be2e-3e5da1a7f3ff" />
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="ce0a9a44-c2a7-4354-93f0-decac40cb7dc" />
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="7999a181-79c8-4cd2-9ae6-ef3c8311b10e" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="5a45239a-df21-422c-9e45-ae9b519596f6" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Pantera09?" database="mule"/>
	</db:config>
	<flow name="apexhoursFlow" doc:id="9398cef5-e5ba-4b70-9f23-9bce4c200710" >
		<http:listener doc:name="My first lister" doc:id="97f2d8ff-3a32-4529-9294-1082d75ea13d" config-ref="HTTP_Listener_config" path="/test"/>
		<set-variable value="#[attributes.queryParams.city1]" doc:name="cityName1" doc:id="5925d30c-f2d4-4102-b98d-527eb0b51674" variableName="cityName1"/>
		<set-variable value="#[attributes.queryParams.city2]" doc:name="cityName2" doc:id="09b70384-f74c-43b6-948f-381d45872fa0" variableName="cityName2"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="6fbc79c8-b35c-4f25-abcd-5f03f6f1766f" >
			<route >
				<http:request method="GET" doc:name="Wheater API city 1" doc:id="890445a5-0726-4169-8168-86ad1d26051e" config-ref="HTTP_Request_configuration" url="http://api.weatherstack.com/current">
			<http:query-params><![CDATA[#[output application/java
---
{
	"access_key" : "2640303e2b004bdd1409b2aaaf3ecbaa",
	"query" : vars.cityName1
}]]]></http:query-params>
		</http:request>
				<ee:transform doc:name="Transform Message" doc:id="f9f4f096-935f-405e-9bc0-4813262a5f1c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Hola la temperatura en " ++ payload.location.name ++ " es de " ++ payload.current.temperature]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</route>
			<route >
				<http:request method="GET" doc:name="Weather API city 2" doc:id="b8d08a85-dfb7-470d-9414-ad640f53a2a2" config-ref="HTTP_Request_configuration1" url="http://api.weatherstack.com/current">
					<http:query-params ><![CDATA[#[output application/java
---
{
	"access_key" : "2640303e2b004bdd1409b2aaaf3ecbaa",
	"query" : vars.cityName2
}]]]></http:query-params>
				</http:request>
				<ee:transform doc:name="Transform Message" doc:id="54f61175-39d1-4d4a-88e0-ee9752a92448">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Hola la temperatura en " ++ payload.location.name ++ " es de " ++ payload.current.temperature]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="3dbd7804-4ca7-47dc-bfa5-d7dd49b1540a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"First City Temp" : payload[0].payload,
	"Second City Temp" : payload[1].payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="apexhoursFlow1" doc:id="635dd14a-452f-4a34-9f88-8ebb5c796155" >
		<http:listener doc:name="Listener" doc:id="e523043b-72be-4545-80fc-839e30389089" config-ref="HTTP_Listener_config" path="/choice"/>
		<set-variable value="#[attributes.queryParams.fruit]" doc:name="Fruit" doc:id="92a4aafe-cf9c-4053-b2c7-447725000458" variableName="fruit"/>
		<choice doc:name="Choice" doc:id="64bd0d12-f290-4c7e-81fa-ed45056786ff" >
			<when expression='#[vars.fruit == "Apple"]'>
				<set-payload value='#["Apple"]' doc:name="Apple" doc:id="0526a74d-161d-43ca-8972-167da787908a" />
			</when>
			<when expression='#[vars.fruit == "Banana"]'>
				<set-payload value='#["Banana"]' doc:name="Banana" doc:id="007abba6-aa5a-4986-8463-cd47081a5497" />
			</when>
			<otherwise >
				<set-payload value='#["No Fruit"]' doc:name="No Fruit" doc:id="4e30763c-80d2-494e-a212-9b8de9a36cc2" />
			</otherwise>
		</choice>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="3448c587-f404-4182-aaca-bb9a9ffc1330" />
	</flow>
	<flow name="apexhoursFlow2" doc:id="b8f0128c-a60c-42ad-9bb0-ad2aa272830d" >
		<http:listener doc:name="Listener" doc:id="8456fcd3-9f7a-4e4b-930f-e28a63ec08f2" config-ref="HTTP_Listener_config" path="/validation"/>
		<ee:transform doc:name="Transform Message" doc:id="0c03ba1f-e6e8-4ffa-95b9-8612476f848d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.id]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<validation:is-number doc:name="Is number" doc:id="ec12806a-2daf-43b0-b137-ac3ca5fac13e" config-ref="Validation_Config" value="#[payload]" numberType="INTEGER" message="This is NOT a number, Please check"/>
		<ee:transform doc:name="Transform Message" doc:id="84d0cfee-4fbe-4d64-98f0-1b38300f8c36" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Success"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="apexhoursFlow3" doc:id="ae9a7647-46e9-4f22-899e-4124c19f66c1" >
		<http:listener doc:name="DatabaseSelect" doc:id="5f895dae-6015-46e9-85cf-c1ca5785f6b1" config-ref="HTTP_Listener_config" path="/database"/>
		<db:select doc:name="Select" doc:id="1905afeb-af88-47b3-94eb-e4ff43469422" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM mule.bankdetails;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="066b063c-0bad-4c4e-8500-1f4cd4a016bc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="apexhoursFlow4" doc:id="57ea7630-0ccc-4f19-b262-0830e43244d5" >
		<http:listener doc:name="Listener" doc:id="b07f501a-f3de-4c1d-a09d-7b42d4dea9b9" config-ref="HTTP_Listener_config" path="/databaseInsert"/>
		<db:insert doc:name="Insert" doc:id="1295d538-551b-4623-b25c-9dd4f0880ea2" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO mule.bankdetails (password, balance, accno, custname)
VALUES (:password, :balance, :accno, :custname)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	password: payload.password,
	balance: payload.amount,
	accno: payload.accountNumber,
	custname: payload.username,
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="2c99a0a7-d59e-4eb6-9b10-0b137e3e96d2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
